

<nb-card>
    <nb-card-body>
        <button [disabled]="!pokeList?.previous" status="info" (click)="prev()" nbButton>Prev</button>
        <button [disabled]="!pokeList?.next" status="info" (click)="next()" nbButton>Next</button>
    </nb-card-body>
</nb-card>

<nb-card>
    <div class="scroll">
        <nb-list>
            <!-- [(ngModel)]="pokemonId" -->
            <nb-list-item *ngFor="let pokemon of pokeList?.results; let i = index;" (click)="onClick(pokemon.url)">
                <img [src]="pokemon.url|urlToImage">
                {{ pokemon.name|titlecase }}
            </nb-list-item>
        </nb-list>
    </div>
</nb-card>