<nb-card *ngIf="pokemon">
    <!-- Name -->
    <nb-card-header>
        <span>{{ pokemon.name|titlecase }}</span>
    </nb-card-header>
    <!-- Picture -->
    <nb-card-body>
        <div class="images">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" >
            <img [src]="pokemon.sprites.other['official-artwork'].front_shiny" >
        </div>
    </nb-card-body>
    <!-- Size, Weight -->
    <nb-card-body>
        Size: {{ pokemon.height/10 }} m - Weight: {{ pokemon.weight/10 }} kg
    </nb-card-body>
    <!-- 2 Types -->
    <nb-card-body *ngIf="pokemon.types.length === 2; else singleType">
        <h1 ><span class="type">{{ pokemon.types[0].type.name|titlecase }}</span> - <span class="type">{{ pokemon.types[1].type.name|titlecase }}</span></h1>
    </nb-card-body>
    <!-- 1 Type -->
    <ng-template #singleType>
        <nb-card-body>
            <h1 ><span class="type">{{ pokemon.types[0].type.name|titlecase }}</span></h1>
        </nb-card-body>
    </ng-template>
    <!-- Stats -->
    <nb-card-body>

    </nb-card-body>

</nb-card>